@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#lineClamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2; /* Ajuste o número de linhas conforme necessário */
}

#lineClampTwo {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 4; /* Ajuste o número de linhas conforme necessário */
}
